h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texts {
    font-size: 13pt;
}

body {
    background-image: url('stadium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#game-grid {
    align-items: center;
    display: grid;
    justify-content: center;
    grid-gap: 2px;
    margin-top: 20px;
}

.block {
    border-radius: 4px;
    width: 50px;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .start-form {
    align-items: center;
} */
.block[data-fielder="true"] {
    background-color: red;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 15%;
    background-color: #91c9f1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(214, 100, 140, 0.2);
}

.container {
    margin: 50px auto;
    width: 80%;
    background-color: #91c9f1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(214, 100, 140, 0.2);
    font-family: Arial, sans-serif;
}

.checkbox-container {
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #257bbd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.checkbox-container-container {
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #257bbd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.checkbox-label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.checkbox-input {
    display: none;
}

.checkbox-input:checked+.text {
    display: block;
}

.text {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #b3d1e6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.text-background {
    background-color: #25d167;
    font-size: 18pt;
    color: #333;
}

.wide-background {
    background-color: #25d167;
    font-size: 15pt;
    text-align: center;
    color: #333;
}

.noball-background {
    background-color: #25d167;
    font-size: 13pt;
    text-align: center;
    color: #333;
}

.safe-background {
    background-color: #5c00cc;
    font-size: 14pt;
    text-align: center;
    color: #ffffff;
}

.out-background {
    background-color: red;
    font-size: 18pt;
    text-align: center;
    color: #333;
}

button {
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    padding: 5px;
    font-size: 16px;
}