h1{
    text-align: center;
}

.texts{
    font-size: 13pt;
}

#start-page, #game-page {
    text-align: center;
}

#game-grid {
    align-items: center;
    display: grid;
    align-self: center;
    grid-gap: 2px;
    margin-top: 20px;
}

.block {
    width: 50px;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.block[data-fielder="true"] {
    background-color: red;
}

.block[data-score="1"] {
    background-color: cyan;
}

.block[data-score="2"] {
    background-color: green;
}

.block[data-score="3"] {
    background-color: purple;
}

.block[data-score="4"] {
    background-color: orange;
}

.block[data-score="6"] {
    background-color: yellow;
}